<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Document</title>

      <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <title>Cocooning SPA</title>

  <!-- GOOGLE FONT -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff" rel="stylesheet">

  <!-- PLUGINS CSS STYLE -->
  <link href="iplugins/jquery-ui/jquery-ui.min.css" rel="stylesheet">
  <link href="plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="#" id="bootstrap-rtl" rel="stylesheet">
  <link href="plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="plugins/selectbox/select_option1.css" rel="stylesheet">
  <link href="plugins/owl-carousel/owl.carousel.min.css" media="screen" rel="stylesheet">
  <link href="plugins/fancybox/jquery.fancybox.min.css" rel="stylesheet">
  <link href="plugins/isotope/isotope.min.css" rel="stylesheet">
  <link href="plugins/datepicker/datepicker.min.css" rel="stylesheet">
  <link href="plugins/bootstrapthumbnail/bootstrap-thumbnail.css" rel="stylesheet">

  <!-- CUSTOM CSS -->
  <link href="css/style.css" rel="stylesheet">
  <link href="#" id="rtl_css" rel="stylesheet">
  <link href="css/default.css" id="option_color" rel="stylesheet">

  <!-- FAVICON -->
  <link href="img/favicon.png" rel="shortcut icon">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">

  <link rel="stylesheet" href="/css/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="/css/animate.css">

  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">

  <link rel="stylesheet" href="/css/aos.css">

  <link rel="stylesheet" href="/css/ionicons.min.css">

  <link rel="stylesheet" href="/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/css/jquery.timepicker.css">


  <link rel="stylesheet" href="/css/flaticon.css">
  <link rel="stylesheet" href="/css/icomoon.css">
  <link rel="stylesheet" href="carousel/carousel.css">
  <link rel="stylesheet" href="/css/style.css">


<!--############################################################-->
<!-- <link rel="stylesheet" href="csss/open-iconic-bootstrap.min.css"> -->
<!-- <link rel="stylesheet" href="csss/animate.css"> -->

<!-- <link rel="stylesheet" href="csss/owl.carousel.min.css"> -->
<!-- <link rel="stylesheet" href="csss/owl.theme.default.min.css"> -->
<!-- <link rel="stylesheet" href="csss/magnific-popup.css"> -->

<!-- <link rel="stylesheet" href="csss/aos.css"> -->
<!-- 
<link rel="stylesheet" href="csss/ionicons.min.css">



<link rel="stylesheet" href="csss/flaticon.css"> -->
<!-- <link rel="stylesheet" href="csss/icomoon.css"> -->

<!-- <link rel="stylesheet" href="csss/style.css"> -->





 <!--############################################################-->

</head>

<body class="body-wrapper static">
    <div class="se-pre-con"></div>
    <div class="main-wrapper">
      <!-- HEADER -->
      <header class="header" id="pageTop">
  
        <!-- TOP INFO BAR -->
        <div class="top-info-bar">
          <div class="container">
            <div class="top-bar-right">
              <ul class="list-inline">
                <li><a href=""><i aria-hidden="true" class="fa fa-envelope"></i> info@yourdomain.com</a></li>
                <li><span><i aria-hidden="true" class="fa fa-phone"></i>+1 234 567 8900</span></li>
              </ul>
            </div>
          </div>
        </div>
  
        <!-- NAVBAR -->
        <nav class="navbar navbar-default lightHeader" id="menuBar" >
          <div class="container">
  
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button class="navbar-toggle" data-target=".navbar-ex1-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index.html"><img alt="logo" src="img/logo.png"></a>
            </div>
  
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                <li class="active">
                  <a href="index.html">Home</a>
                </li>
                <li class=" dropdown singleDrop">
                  <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Services</a>
                  <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="service.html">Services</a></li>
                    <li><a href="single-service.html">Single Services</a></li>
                  </ul>
                </li>
                <li class=" dropdown megaDropMenu">
                  <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Store</a>
                  <ul class="row dropdown-menu">
                    <li class="col-sm-3 col-xs-12">
                      <ul class="list-unstyled">
                        <li><a href="product-right-sidebar.html">Product Right Sidebar</a></li>
                        <li><a href="product-left-sidebar.html">Product Left Sidebar</a></li>
                        <li><a href="product-3col.html">Product 3 Col</a></li>
                        <li><a href="product-4col.html">Product 4 Col</a></li>
                        <li><a href="single-product.html">Single product</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-3 col-xs-12">
                      <ul class="list-unstyled">
                        <li><a href="user-dashboard.html">User Dashboard</a></li>
                        <li><a href="user-profile.html">User Profile</a></li>
                        <li><a href="address.html">Address</a></li>
                        <li><a href="all-order.html">All Order</a></li>
                        <li><a href="wishlist.html">Wishlist</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-3 col-xs-12">
                      <ul class="list-unstyled">
                        <li><a href="cart.html">Cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="success.html">Confirmation</a></li>
                        <li><a href="pricing.html">Price table</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-3 col-xs-12 mega-img">
                      <a href="#"><img alt="logo" src="img/home/pricing-1.jpg"></a>
                    </li>
                  </ul>
                </li>
                <li class=" dropdown singleDrop">
                  <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button">Pages</a>
                  <ul class="dropdown-menu dropdown-menu-left">
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li class="dropdown">
                      <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Team</a>
                      <ul class="dropdown-menu">
                        <li><a href="member.html">Our Team</a></li>
                        <li><a href="single-member-profile.html">Single Team</a></li>
                      </ul>
                    </li>
                    <li class="dropdown">
                      <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">Gallery</a>
                      <ul class="dropdown-menu">
                        <li><a href="gallery-v1.html">Gallery 3 Col</a></li>
                        <li><a href="gallery-v2.html">Gallery 4 Col</a></li>
                      </ul>
                    </li>
                    <li><a href="login-signup.html">Login SignUp</a></li>
                    <li><a href="404.html">404 Not Found</a></li>
                    <li><a href="coming-soon.html">Coming Soon</a></li>
                  </ul>
                </li>
                <li class=" dropdown singleDrop">
                  <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button">Blog</a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li class="dropdown dropdown-submenu">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Blog</a>
                      <ul class="dropdown-menu">
                        <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                        <li><a href="blog-left-sidebar.html">Left Sidebar</a></li>
                        <li><a href="blog-fullwidth.html">Fullwidth</a></li>
                      </ul>
                    </li>
                    <li class="dropdown dropdown-submenu">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">Single Blog</a>
                      <ul class="dropdown-menu">
                        <li><a href="blog-single-right-sidebar.html">Right Sidebar</a></li>
                        <li><a href="blog-single-left-sidebar.html">Left Sidebar</a></li>
                        <li><a href="blog-single-fullwidth.html">Fullwidth</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class=" dropdown singleDrop">
                  <a aria-expanded="false" aria-haspopup="true" class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)" role="button">Components</a>
                  <ul class="dropdown-menu">
                    <li><a href="tabs-pagination.html">Tab & Pagination</a></li>
                    <li><a href="accrodion.html">Accrodions</a></li>
                    <li><a href="buttons-alerts.html">Buttons & Alerts</a></li>
                  </ul>
                </li>
              </ul>
            </div>
  
            <!-- Cart button -->
            <div class="cart_btn">
              <a href="cart.html"><i aria-hidden="true" class="fa fa-shopping-basket"></i><span class="badge">0</span></a>
            </div>
  
          </div>
        </nav>
      </header>


    <!--  DEBUT SECTION COMMENT ca MARCHE  -->

    
    
            <!-- CODE à inserer -->
            <section class="container-fluid clearfix aboutSection patternbg">
              <div class="aboutInner">
                <div class="sepcialContainer">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12 rightPadding">
                      <div class="imagebox ">
                        <img src="img/home/home-about.jpg" alt="Image About" class="img-responsive">
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                      <div class="aboutInfo">
                        <h2>Angel luxury spa resort</h2>
                        <h3>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                          trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat  cupidatat non proident.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <style type="text/css">
            .aboutInner2 {
              position: relative;
            }

            @media (min-width: 320px) {
              .aboutInner2 {
                height: auto;
                padding: 0 15px 0 15px;
                background-color: transparent;
              }
            }

            @media (min-width: 768px) {
              .aboutInner2 {
                width: 50%;
                float: right;
                height: 650px;
                padding: 120px 0 0 0;
              }

              .gauche{
                background-color: #ffffff;
                padding: 50px 50px 120px 0;
                position: relative;
                left: 30px;
                bottom: 55px;
              }
            }

            @media (min-width: 320px) {
              .imagebox2 {
                border: 5px solid #ffffff;
              }
            }

            @media (min-width: 768px) {
              .imagebox2 {
                border: 5px solid #ffffff;
                border-left: 0;
              }
            }

            .imagebox2 img {
              width: 100%;
            }

            @media (min-width: 320px) {
              .imagebox2 img {
                margin: -10px 0 10px 10px;
              }
            }

            @media (min-width: 768px) {
              .imagebox2 img {
                margin: -40px 0 40px 40px;
              }
            }

            @media (min-width: 992px) {
              .imagebox2 img {
                margin: -60px 0 60px 60px;
              }
            }

            </style>
            <section class="container-fluid clearfix aboutSection patternbg">
              <div class="aboutInner2">
                <div class="sepcialContainer">
                  <div class="row">
                    <div class="col-sm-6 col-xs-12 gauche">
                      <div class="aboutInfo">
                        <h2>Angel luxury spa resort</h2>
                        <h3>Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nos
                          trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat  cupidatat non proident.</p>
                      </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 rightPadding">
                      <div class="imagebox2 ">
                        <img src="img/home/home-about.jpg" alt="Image About" class="img-responsive">
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </section>
    
    
    <!-- FIN SECTION COMMENT ca MARCHE  -->


    
</body>
</html>







<!-- CODE à inserer -->










<!--  FIN -->